@import './variables';

html,
body {
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $color-background-white;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size;
}

@import './components/button';
@import './components/container';
@import './components/order-book';
@import './components/order-book-select';
@import './components/order-book-table';
