@import './variables';

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-background-white;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size;
  display: flex;
  flex-direction: column;
}

footer {
  color: $color-text-grey;
  margin-top: auto;
  text-align: center;
  padding: $gap-3;
}

@import './components/button';
@import './components/container';
@import './components/order-book';
@import './components/order-book-select';
@import './components/order-book-table';
