html,
body {
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fbfbfb;
}

@import './components/order-book';
@import './components/order-book-table';
