/*
 * Fonts
 */

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;
$font-family-monospace: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-size: 16px;

/*
 * Colors
 */

$color-background-white: #fbfbfb;
$color-background-dark-1: #121826;
$color-background-dark-2: #262d3b;
$color-text-white: #f8f8f8;
$color-text-grey: #565c69;
$color-red: #aa2e27;
$color-purple: #5248d1;
$color-buy: #408c6c; // green
$color-sell: #b74642; // red

/*
 * Colors
 */

$gap-1: 0.1em;
$gap-2: 0.2em;
$gap-3: 0.5em;
$gap-4: 1em;
$gap-5: 2em;

/*
 * Borders
 */

$border-radius: 4px;
