.order-book {
  display: flex;
  flex-direction: column;
  background-color: $color-background-dark-2;
  margin: $gap-1;
  padding: $gap-1;
  flex-grow: 1;
  max-width: 900px;

  &__header {
    background-color: $color-background-dark-1;
    color: $color-text-white;
    padding: $gap-3;
    margin: $gap-1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__content {
    background-color: $color-background-dark-1;
    margin: $gap-1;
    min-height: 17em;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 900px) {
      min-width: unset;
    }

    @media screen and (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__footer {
    padding: $gap-3;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
